#code-canvas {
    position: absolute;
    top: 66px;
    bottom: 12px;
    left: 12px;
    right: 12px;

    background-color: #ffffff88;

    border: none;
    border-radius: 12px;
    
    box-shadow: 0px 6px 12px #00000044;
}


#block-category-bar {
    position: absolute;
    top: 72px;
    bottom: 18px;
    right: 18px;
    width: 144px;

    background-color: #ffffff;

    border: none;
    border-radius: 0 8px 8px 0;

    overflow: hidden;
}

#block-category-bar > button {
    width: 100%;
    height: 36px;

    color: black;
    background-color: transparent;

    border: none;
}

#block-category-bar > button.selected {
    color: white;
    background-color: #607eee;
}


#blocks-list {
    position: absolute;
    top: 72px;
    bottom: 18px;
    right: 162px;
    width: 240px;

    background-color: #ffffff66;

    border: none;
    border-radius: 8px 0 0 8px;

    backdrop-filter: blur(60px);
    overflow: hidden;
}
