#view-design {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    position: absolute;
    width: 800px;
    height: 450px;

    background-color: white;

    border: none;
    border-radius: 12px;

    transition: transform 0.25s ease;
}
